body,
h1,
h2,
h3,
h4,
h5,
p,
a,
ul,
li {
  margin: 0;
  padding: 0; }

a {
  transition: color 1s ease;
  text-decoration: none;
  font-size: 5rem; }

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #999; }
  nav a.nav-links {
    color: #333133; }
    nav a.nav-links:hover {
      color: #e4684e; }
